<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.auth.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.user.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyController</servlet-name>
        <servlet-class>controller.property.PropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.auth.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Properties</servlet-name>
        <servlet-class>controller.property.PropertiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatarController</servlet-name>
        <servlet-class>controller.user.UpdateAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentingController</servlet-name>
        <servlet-class>controller.property.SendRentingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestStatusController</servlet-name>
        <servlet-class>controller.property.UpdateRequestStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardPropertiesController</servlet-name>
        <servlet-class>controller.dashboard.DashboardPropertiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.property.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPropertyController</servlet-name>
        <servlet-class>controller.property.SearchPropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPropertyImageController</servlet-name>
        <servlet-class>controller.property.UploadPropertyImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyController</servlet-name>
        <servlet-class>controller.dashboard.AddPropertyController</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>SendReportController</servlet-name>
        <servlet-class>controller.report.SendReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRentingController</servlet-name>
        <servlet-class>controller.property.SendRentingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.user.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropertyController</servlet-name>
        <servlet-class>controller.dashboard.DeletePropertyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/chgpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyController</servlet-name>
        <url-pattern>/property</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Properties</servlet-name>
        <url-pattern>/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatarController</servlet-name>
        <url-pattern>/editavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentingController</servlet-name>
        <url-pattern>/renting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestStatusController</servlet-name>
        <url-pattern>/updaterstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardPropertiesController</servlet-name>
        <url-pattern>/dashboard/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPropertyController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPropertyImageController</servlet-name>
        <url-pattern>/uploadpimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyController</servlet-name>
        <url-pattern>/dashboard/addproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReportController</servlet-name>
        <url-pattern>/sendreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRentingController</servlet-name>
        <url-pattern>/sendrenting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropertyController</servlet-name>
        <url-pattern>/dashboard/deleteproperty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/views/base/base.jsp</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>
</web-app>
