<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.auth.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.user.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyController</servlet-name>
        <servlet-class>controller.property.PropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Properties</servlet-name>
        <servlet-class>controller.property.PropertiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatarController</servlet-name>
        <servlet-class>controller.user.UpdateAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentingController</servlet-name>
        <servlet-class>controller.request.SendRentingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineRentingRequestController</servlet-name>
        <servlet-class>controller.request.DeclineRentingRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardPropertiesController</servlet-name>
        <servlet-class>controller.dashboard.DashboardPropertiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPropertyController</servlet-name>
        <servlet-class>controller.property.SearchPropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPropertyImageController</servlet-name>
        <servlet-class>controller.property.UploadPropertyImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyController</servlet-name>
        <servlet-class>controller.dashboard.AddPropertyController</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>SendReportController</servlet-name>
        <servlet-class>controller.report.SendReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRentingController</servlet-name>
        <servlet-class>controller.request.SendRentingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.user.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropertyController</servlet-name>
        <servlet-class>controller.dashboard.DeletePropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.dashboard.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserOfSystem</servlet-name>
        <servlet-class>controller.user.ViewSystemUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewReportTypeController</servlet-name>
        <servlet-class>controller.report.AddNewReportTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRentingRequestController</servlet-name>
        <servlet-class>controller.property.ViewRentingRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportTypeController</servlet-name>
        <servlet-class>controller.report.ViewReportTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportTypeController</servlet-name>
        <servlet-class>controller.report.DeleteReportTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>controller.feedback.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackController</servlet-name>
        <servlet-class>controller.feedback.EditFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackController</servlet-name>
        <servlet-class>controller.feedback.SendFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostDashboardController</servlet-name>
        <servlet-class>controller.dashboard.HostDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>controller.auth.VerifyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendTokenController</servlet-name>
        <servlet-class>controller.auth.SendTokenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserController</servlet-name>
        <servlet-class>controller.dashboard.RemoveUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.auth.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHostController</servlet-name>
        <servlet-class>controller.request.RegisterHostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.dashboard.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePropertyController</servlet-name>
        <servlet-class>controller.dashboard.UpdatePropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRentingRequest</servlet-name>
        <servlet-class>controller.request.AcceptRentingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRentingRequest</servlet-name>
        <servlet-class>controller.request.DeleteRentingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>controller.property.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPropertyController</servlet-name>
        <servlet-class>controller.dashboard.UpdatePropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewContractController</servlet-name>
        <servlet-class>controller.dashboard.ViewContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryController</servlet-name>
        <servlet-class>controller.property.ViewCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/chgpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyController</servlet-name>
        <url-pattern>/property</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Properties</servlet-name>
        <url-pattern>/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatarController</servlet-name>
        <url-pattern>/editavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentingController</servlet-name>
        <url-pattern>/renting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineRentingRequestController</servlet-name>
        <url-pattern>/dashboard/requests/decline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardPropertiesController</servlet-name>
        <url-pattern>/dashboard/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPropertyController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPropertyImageController</servlet-name>
        <url-pattern>/uploadpimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyController</servlet-name>
        <url-pattern>/dashboard/addproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReportController</servlet-name>
        <url-pattern>/sendreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRentingController</servlet-name>
        <url-pattern>/sendrenting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropertyController</servlet-name>
        <url-pattern>/dashboard/deleteproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostDashboardController</servlet-name>
        <url-pattern>/dashboard/host</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendTokenController</servlet-name>
        <url-pattern>/verify/sendtoken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/delfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackController</servlet-name>
        <url-pattern>/editfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackController</servlet-name>
        <url-pattern>/sendfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHostController</servlet-name>
        <url-pattern>/registerhost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserOfSystem</servlet-name>
        <url-pattern>/dashboard/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/dashboard/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropertyController</servlet-name>
        <url-pattern>/editproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRentingRequest</servlet-name>
        <url-pattern>/deleterentingrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/dashboard/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewReportTypeController</servlet-name>
        <url-pattern>/dashboard/addreporttype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportTypeController</servlet-name>
        <url-pattern>/dashboard/deletereporttype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportTypeController</servlet-name>
        <url-pattern>/dashboard/viewreporttype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPropertyController</servlet-name>
        <url-pattern>/dashboard/editproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewContractController</servlet-name>
        <url-pattern>/dashboard/viewcontract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserController</servlet-name>
        <url-pattern>/dashboard/users/removeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRentingRequestController</servlet-name>
        <url-pattern>/dashboard/requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRentingRequest</servlet-name>
        <url-pattern>/dashboard/requests/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/dashboard/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryController</servlet-name>
        <url-pattern>/dashboard/propertycategories</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/views/base/base.jsp</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>
</web-app>
